html , body{
    margin : 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column

}

@mixin button {
    opacity: 0.6;
    transition: opacity 0.15s linear;
}

.box{
    justify-content: center;
    margin: auto;
    width: clamp(220px , 45% , 1250px);
    aspect-ratio: 1/1;
    background-color: rgb(49, 49, 49);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &__top{
        width: 90%;
        aspect-ratio: 2/1;
        margin-left: auto;
        margin-right: auto;
        border-top-right-radius: 100px;
        border-top-left-radius: 100px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
 }
    &__bottom{
        width: 90%;
        aspect-ratio: 2/1;
        margin-left: auto;
        margin-right: auto;
        border-bottom-right-radius:  100px;
        border-bottom-left-radius: 100px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }
}

.button{
    height: 100%;
    aspect-ratio: 0.95/1;
    &--red{
        background-color: red;
        @include button;
    }
    &--green{
        background-color: rgb(0, 255, 0);
        @include button;
    }
    &--blue{
        background-color: blue;
        @include button;
    }
    &--yellow{
        background-color: yellow;
        @include button;
    }
    &--light{
        opacity: 1;
    }
}

.background{
    background: rgb(145, 226, 226);
    &--false{
        background: rgb(225, 93, 93);
    }
    &--true{
        background:rgb(100, 202, 100);
    }
}